<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:remove="all">Order Confirmation</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> </head>

    <body>
        <div>
            <br>

            <div align="center">
                <h1>Recuperação de Senha</h1>

                <br>

                <h2>Olá, <span th:text="${user.getName()}"> </span></h2>
                <h2> Vimos que você esqueceu sua senha, <br>Não se preocupe já geramos uma nova para você!</h2>

                <br>
                <br>

                <h3 th:border="2"> Abaixo segue sua nova senha:</h3>
                <h3><span th:text="${newPass}"> </span></h3>

                <br>
                <br>

                <h2>Lembre-se, sua senha é de uso pessoal e restrito!</h2>
                <h2>Wave 4 - Grupo 9</h2>
                <h3>Mercado Livre</h3>
                <h3>Digital House</h3>
            </div>
            
            <div class="imagem">
                <img src="img/one-piece-anime-one-piece-wallpaper-preview (1).jpg">
            </div>

        </div>
    </body>
</html>