<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:remove="all">Order Confirmation</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> </head>
    <body>
        <div>
            <br>

            <div align="center">
                <h1>Recuperação de Senha</h1>
            </div>

            <br>

            <div align="center">
                <h2>Olá, <span th:text="${user.getName()}"> </span></h2>
                <h2> Vimos que você esqueceu sua senha,</h2>
                <h2>Não se preocupe já geramos uma nova para você!</h2>
            </div>

            <br>

            <div align="center">
                <h3> Abaixo segue sua nova senha:</h3>
                <h4><span th:text="${newPass}"> </span></h4>
            </div>

            <br>

            <div align="center">
                <h2>Lembre-se, sua senha é de uso pessoal e restrito!</h2>
                <h2>Wave 4 - Grupo 9</h2>
                <h3>Mercado Livre</h3>
                <h3>Digital House</h3>
            </div>
        </div>
    </body>
</html>